@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
	font-family: 'Indie Flower', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	background-color: beige;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.header .players-name {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
}

.player-one-name,
.player-two-name {
	margin-bottom: 20px;
}

.title {
	margin-bottom: 30px;
	text-align: center;
}

.players-name-modal-overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	backdrop-filter: blur(5px);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
}

.players-name .form-group {
	flex-direction: column;
	display: none;
}

.players-name .form-group input {
	margin-top: 30px;
	border: none;
	background: none;
	font-size: 60px;
	text-align: center;
	color: orangered;
}

.players-name .form-group input:focus {
	outline: none;
}

.players-name .form-group.active {
	display: flex;
}

.display-none {
	display: none;
}

.game-board {
	background-color: #fff;
	height: 450px;
	width: 450px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.box {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 60px;
}
